<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text">MimiStore a loja do seu bebê</h5>
          <p>A aqui você encontra o melhor para seu bebê.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Parceiros</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.graodegente.com.br/">Grão de Gente</a>
              </li>
              <li>
                <a href="https://www.yoraatacado.com.br/">Yora Atacado</a>
              </li>
              <li>
                <a href="https://www.noak.com.br/">Noak</a>
              </li>
              <li>
                <a href="https://donamocinhadobrasil.loja2.com.br/">Dona Mocinha</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Contatos</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> DisciplinaDeRad2018.1.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->